@page
@model s00236328_webapp.Pages.Flights_model.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DestinationCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].MaxSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Flight) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSeats)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FlightId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FlightId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FlightId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
