@page "/home"
@model s00236328_webapp.Pages.Flights.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passenger[0].PassengerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger[0].Passport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Passenger) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PassengerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PassengerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PassengerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
