@page
@model PetASP.Pages.OwnerP.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Veterinarian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Veterinarian.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Owner.OwnerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
